@import url(./assets/fonts/biennale-font.css);
@import "./mixing.scss";
:root {
  --primary-color: #757575;
  --primary-color-alt: #ffffff;
}
body {
  font-family: "Biennale";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.opacity-0 {
  opacity: 0 !important;
}
