.banner {
  .banner-wrapper {
    padding: 120px 0 !important;
    background: linear-gradient(
      90deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%
    );
    color: #ffffff;
  }
  &.template-1 {
    text-align: center;
    .banner-intro {
      width: 100%;
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
